$main_font: 'Poppins', sans-serif;
$main_color: #000000;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}






header nav li a:first-of-type {
  font-family: $main_font;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 32px;

  &:nth-child(2) a {
    font-size: 15px;

    &:nth-child(3) a {
      font-size: 15px;

      &:nth-child(4) a {
        font-size: 15px;

        &:last-of-type a {
          font-family: $main_font;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 0.4px;
          color: $main_color;
          padding: 9px 20px 13px 20px;
          border-radius: 14px;
          text-decoration: none;
          background-color: #FFFFFF;
        }
      }
    }
  }
}
.ap_stud {
  background-image: url('../images/plato.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.mn_sec_att{
  max-width: 600px;
  text-align: center;
  color: #FFFFFF;
  margin: auto;
}
main section h2 {
  font-family: $main_font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #C0C0C0;
}
main section h1 {
  font-family: $main_font;
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 59px;
  color: #FFFFFF;
  padding-bottom: 18px;
}
main .mn_sec_att p {
  font-family: $main_font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;}