*{
    padding: 0;
    margin: 0;
}

header {
    background-color: #181818;
    margin: auto;
    padding: 24px;
}
.h_flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header nav ul {
    display: flex; list-style: none;
}
header nav li:first-of-type a {
    padding-right: 56px;
}
header nav li a:first-of-type {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF; text-decoration: none;
    margin-right: 32px;
}
header nav li:nth-child(2) a, header nav li:nth-child(3) a, header nav li:nth-child(4) a {
    font-size: 15px;

}
header nav li:last-of-type a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000; padding: 9px 20px 13px 20px;
    border-radius: 14px;
    text-decoration: none;
    background-color: #FFFFFF;
}
.aper_stud {
    background-image: url('../images/plato.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
}
.mn_sec_att{
    max-width: 600px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 446px;
    padding-bottom: 71px;
}
main section h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
main section h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    color: #FFFFFF;
    padding-bottom: 18px;
}
main .mn_sec_att p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.fix_location {
    position: absolute;
    bottom: 40px;
    right: 40px;
    display: flex;
    list-style-type: none;
    align-items: center;
}
.fix_location li {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-left: 16px;
    display: flex;
}
.fix_location li:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    background-image: url("../images/icon_1.svg");
}
.fix_location li:nth-child(2):before {
    background-image: url("../images/icon_2.svg");
}
.fix_location li:nth-child(3):before {
    background-image: url("../images/icon_3.svg");
    width: 32px;
}
.fix_location li:last-of-type:before {
    background-image: url("../images/icon_4.svg");
    width: 10px;
}
.simple_sec_fuji {
    background-image: url("../images/fuji.jpg");
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}
.div_loc {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.fuji {
    max-width: 298px;
    margin-right: 62px;
}
.simple_sec_leaf {
    background-image: url("../images/leafs.jpg");
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}
.leaf {
    max-width: 273px;
    margin-right: 87px;
}
.past_cli {
    background: #000000;
    padding-top: 117px;
    min-height: 500px;
    justify-content: center;
}
.past_cli h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 15px;
}
.past_cli p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    padding-bottom: 82px;
}
.past_cli .h_flex a {
    text-decoration: none;
}
.simple_sec_himal {
    background-image: url("../images/himalaya.jpg");
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}
.himal {
    max-width: 254px;
    margin-right: 106px;
}
section .div_loc h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.pho_vid {
    background: #000000;
    padding-top: 114px;
    min-height: 414px;
    justify-content: center;
    display: flex;
}
.pho_vid_text {
    max-width: 571px;
    text-align: center;
}
.pho_vid h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    padding-bottom: 15px;
}
.pho_vid p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    padding-bottom: 22px;
}
.get_in {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    padding: 5px 10px 5px 4px;
    border-radius: 14px;
    text-decoration: none;
    background-color: #FFFFFF;
    align-items: center;
    display: inline-flex;
}
 .pho_vid a:before {
    content: "";
    display: inline-block;
    height: 32px;
    width: 32px;
    background-color: #000000;
     border-radius: 13px;
     margin-right: 6px;
}